.title{
    font-size: 2rem;
    padding-left: 1rem;
}

.btn-sq-responsive {
    width: 293px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 194px !important;
    font-size: 5rem;

}

.btn-radio{
    background-image: url('images/radio_cover.png');
}
