.control {
    background-color: #000000;
}

.radio-status {
    background-color: green;
}

.volume {
    margin-top: 2rem;
    padding-top: 0.5rem;
}

.radio-status-bar {
    background-color: #871a4d;
    text-align: center;
    line-height: 2rem;

}