.song{
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

.artist{
    color: #ffffff;
    font-size: 1rem;
}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    // max-height: 25rem;
    .card{
        background-color: #1E1E21;
        // width: 1rem;
        // height: 1rem;
        padding: 0.7rem;
        margin: 0.7rem;
        display: inline-block;
    }
    .card:hover{
        // transform: scale(1.1);
        background-color: #ffffff1a;
    }
}

.story-container{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .stories{
        background-color: transparent;
        padding: 0.7rem;
        margin: 0.7rem;
        display: inline-block;
        color: #ffffff;
        text-shadow: 0.2rem 0.3rem 4px #000000;
    }
    .stories:hover{
        transform: scale(1.1);
    }
}

.bind{
    visibility: hidden;
}

.story-block {
    background-color: #1E1E21;
    border-radius: 15px;
    height: 30rem;

    #story-pfp {
        margin-left: 0.5rem;
        width: 3rem;
        height: 3rem;
    }

    #story-user {
        line-height: 0.4rem;
        font-size: 1.2rem;
    }

    #story-time {
        line-height: 0.1rem;
        font-size: 0.8rem;
    }
}

