.song{
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

.artist{
    color: #ffffff;
    font-size: 1rem;
}

.card{
    background-color: #1E1E21;
    width: 15rem;
    padding: 0.7rem;
}