.user-pfp {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}

.song-cover {
    width: 4rem;
    height: 4rem;
}

.song-divider {
    height: 1rem;
}

.song-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.song-artist {
    font-size: 1rem;
    font-weight: 300;
}

.bind {
    visibility: hidden;
}