.title{
    margin-top: 2rem;
}

.subtitle{
    font-size: 2rem;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.playlistSet{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    // max-height: 25rem;
    .card{
        background-color: #1E1E21;
        // width: 1rem;
        // height: 1rem;
        padding: 0.7rem;
        margin: 0.7rem;
        display: inline-block;
    }
}

.playlist-title{
    color:white;
    padding-top: 0.5rem;
    margin-bottom: 0;
}

.playlist-owners{
    color:white;

}

.bind{
    visibility: hidden;
}