.timeline-songs:hover {
    // background-color: #ffffff1a;
    transform: scale(0.9);
}

.profile {
    margin-bottom: 8.7rem;
}


.bind {
    visibility: hidden;
}

.logoutbtn {
    margin-left: 1.5rem;
    line-height: 0.5rem;
    border-radius: 5px;
}

.friendPfp {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.flex-container{
    display: flex;
    justify-content: center;
}