.bar {
    background-color: #212121 !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.tab {
    background-color: #212121 !important;
}

.active {
    background-color: #454545 !important;
}

.active.tab-pane {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 87vh;
    background-color: #212121 !important;
}

.text-center {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bar:hover {
    background-color: #ffffff1a !important;
}

.list-group {
    height: 11rem;
    overflow-y: scroll;
}