.bar {
    background-color: #212121 !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.horizontal-line {
    background-color: #696969;
    margin: 0 auto;
}

.tab {
    background-color: #212121 !important;
}

.active {
    background-color: #454545 !important;
}

.bar:hover {
    background-color: #ffffff1a !important;
}