// .list-group-item {
//     margin: 2.5rem 0 !important;
// }

.bar {
    background-color: #212121 !important;
    padding-bottom: 1.75rem !important;
    padding-top: 1.75rem !important;
}

.active {
    background-color: #454545 !important;
}

.bar:hover {
    background-color: #ffffff1a !important;
}

.friend-block {
    height: 1rem;
}

.list-group.friend-block {
    height: 15rem;
    overflow-y: scroll;
}

.friend-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.join-label {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0rem;
}