// .list-group-item {
//     margin: 2.5rem 0 !important;
// }

.bar {
    background-color: #212121 !important;
    padding-bottom: 1.75rem !important;
    padding-top: 1.75rem !important;
}

.active {
    background-color: #454545 !important;
}

.bar:hover {
    background-color: #ffffff1a !important;
}

.friend-block {
    height: 200px;
}

.list-group.friend-block {
    height: 11rem;
    overflow-y: scroll;
}